*{
  box-sizing: border-box;
  }
.homelanding{
  position: relative;
  width: 100%;
  min-height:calc(100vh - 66px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./../img/background-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service{
width: 100%;
padding-top: 20px;
background-color: #f0f2f2;
min-height: 350px;
}
.details{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.detail-list{
  text-align: center;
  margin: 20px 0 20px 0;
  width: 20%;
  padding-top: 15px;
}
.detail-list span{
  font-size: 30px;
  color:#db5035;
}
.detail-list h3{
  color:#0a090a;
}
@media screen and (max-width:991px){
  .detail-list{
    width: 40%;
    margin-top: 15px;
  }
}
@media screen and (max-width:600px){
  .detail-list{
    width: 90%;
  }
}
/*featuredRooms*/
.featured-rooms{
  padding-top: 20px;
  width: 100%;
  min-height: 250px;
  background-color:#fafafa;
}
.featured-room-center{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
